$keno_container_width: 100%;
$keno_container_height: 100%;
$color_black: black;
$color_yellow: yellow;
$font-stack:    'PT Sans', sans-serif;

/* PROTOTYPES */
.yellow-div {
    width: 100%;
    height: 60px;
}
.grey-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#787878+0,3f3f3f+100 */
    background: #787878; /* Old browsers */
    background: -moz-linear-gradient(top,  #787878 0%, #3f3f3f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #787878 0%,#3f3f3f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #787878 0%,#3f3f3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#3f3f3f',GradientType=0 ); /* IE6-9 */ 
}

.black-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,000000+100 */
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #333333 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */


}
.red-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+14,ea2803+28,ff0000+75,9b0000+100 */
    background: #f3c5bd; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3c5bd 0%, #e86c57 14%, #ea2803 28%, #ff0000 75%, #9b0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f3c5bd 0%,#e86c57 14%,#ea2803 28%,#ff0000 75%,#9b0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f3c5bd 0%,#e86c57 14%,#ea2803 28%,#ff0000 75%,#9b0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#9b0000',GradientType=0 ); /* IE6-9 */

}
.drive-buttons{
    @extend .grey-gradient;
    padding: 9px;
    border-radius: 8px;
    color:white;
    font-size: 12px;
    position: absolute;
    z-index: 9999;
    width: 175px;
    text-align: center;
    cursor: pointer;
    border: none;
    border: 2px solid #3f3f3f;
}

.bottom-button {
    @extend .black-gradient;
    padding: 5px;
    border-radius: 8px;
    background-color: black;
    color:white;
    font-size: 12px;
    width: 185px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #333333;
}
/* ====END=== */


.keno-top-div {
    @extend .yellow-div;
    position: absolute;
    z-index: 10;

}

.keno-bottom-div {
    @extend .yellow-div;
    position: absolute;
    bottom:20px;
    background-image: url('../img/bottom.jpg');
}

.keno_container {
    position: relative;
    width: $keno_container_width;
    height: $keno_container_height;
    background-color: $color_black;
    border-radius: 15px;
    padding-top: 20px;
    /*    z-index: -2;*/
}

.keno-top-text {
    padding: 2.5%;
    font-size: 20px;
    background-image: url('../img/top2.jpg');
    background-size: cover;
}

.keno-center-parent {
    position: relative;
    width: 100%;
    top: 16.5%;
}
.keno-buttons-left {
    @extend .drive-buttons;
    left: 5%;
}
.keno-buttons-left:hover{
    @extend .red-gradient;
    border: 2px solid white;
}

.keno-buttons-right {
    @extend .drive-buttons;
    right: 5%;
}
.keno-buttons-right:hover{
    @extend .red-gradient;
    border: 2px solid white;
}
.keno-bottom-button:hover {
    @extend .grey-gradient;
    border: 2px solid #3f3f3f;
}
.keno-logo{
    width: 28%;
    height: auto;
    position: absolute;
    right: 6px;
    top: 6px;
}

.keno-start-gif {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.keno-results{
    background-image: url('../img/result-bg.jpg');
    width: 100%;
    background-size: cover;
    height: auto;
    bottom: 80px;
    position: absolute;
    color:white;
    padding-top: 1%;
    display: none;
}

/*.keno-ball {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 1s all;
    z-index: 1;
    background-image: url(../images/yellow-ball.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}*/
.keno-table {
    display: table;
    margin: 0 auto;
}
.keno-row{
    display: table-row;
}
.keno-cell {
    display: table-cell;
}
.keno-preloader-container{
    width: 100%;
    height:auto;
    min-height: 300px;
    margin-top: 7%;
}
.keno-bottom-button {
    @extend .bottom-button;

}
.col-md-6{
    width:50%; 
    float:left;
}
.keno-end-result-table {
    margin: 0 auto;
    display: table;
    width: 100%;
    padding-top: 22%;

}
.keno-end-result-row {
    display: table-row;
}
.keno-end-result-cell {
    display: table-cell;
    background-color: rgba(0,0,0,0.5);
}
.keno-end-result-table-container {
    display: none;
    margin-left: 5%;
    margin-right: 5%;
}

.keno-play-anhor {
    position:absolute;
    text-decoration:none;
    width: 100%;
}
.keno-play-ball {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd700+0,ff800a+100 */
    background: #ffd700; /* Old browsers */
    background: -moz-linear-gradient(top, #ffd700 0%, #ff800a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffd700 0%,#ff800a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffd700 0%,#ff800a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd700', endColorstr='#ff800a',GradientType=0 ); /* IE6-9 */

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.keno-bottom-strong{
    margin-right: 5px;
    vertical-align: super;
}